@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>All the matches of the Champions League, Premier League and La liga.</p>
<p>Live scores and match scheduling.</p>
<p>Competition wise matches.</p>
<p>Teams information</p>
<p>And Search features</p>
