@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" href="#"> Prev day</a>
        <h3>Dec 2</h3>
        <a class="btn btn-danger" href="#">Next day</a>
    </div>
</div>
